.login-page {
    //background-color:#f53d3d;
    background-color: #4780e2;

    img {
        top: auto;
        left: 0%;
        width: auto;
    }

    .dniLogin {
        top: auto;
        left: 10%;
        margin-right: -10%;
        width: 80%;
        border-radius: 30px !important;
        margin-bottom: 5px;
        background-color: #f6f6f6;
        font-size: 0.9em;
    }

    .passLogin {
        top: auto;
        left: 10%;
        margin-right: -10%;
        width: 80%;
        border-radius: 30px !important;
        margin-bottom: 5px;
        background-color: #f6f6f6;
        font-size: 0.9em;
    }

    .login-button {
        top: auto;
        left: 10%;
        margin-right: -10%;
        width: 80%;
        border-radius: 30px;
        font-size: 0.9em;
        margin-top: 5px;
        border: 1px solid #fff;
        background-color: #3771df;
    }

    .signup-button {
        bottom: auto;
        left: 20%;
        margin-right: -20%;
        width: 60%;
        border-radius: 30px;
        font-size: 0.9em;
        margin-top: 10px;
        border: 1px solid #fff;
        background-color: #3771df;
    }

}