<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content>
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-group>
            <ion-item *ngFor="let order of allOrders" (click)="goToOrder($event, order)">
                <h1>IdPedido: {{order.idPaquete}}</h1>
                <h2>Fecha almacén: {{order.fechaEntradaAlmacen}}</h2>
                <h2>Remitente: {{order.remitente}}</h2>
                <h1>Estado: {{order.estado}}</h1>
            </ion-item>
        </ion-item-group>
    </ion-list>

</ion-content>